<%= render "shared/header" %>
 
<% if user_signed_in? %>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
<%= render partial: "japan_map" %>
<% else %>
<div class="top">
  
</div>
<% end %>
