
<h2><%= @prefecture_box[params[:id].to_i - 1] %>の思い出</h2>
  <% @memories.each do |memorie| %>
    <%= render partial: "prefecture", locals: { memorie: memorie } %>
  <% end %>
  <div>
    <%= link_to "新しい思い出", new_memory_path(params[:id]) %>
  </div>
