<%= render "shared/header" %> 
<h2><%= @prefecture_box[params[:id].to_i - 1] %>の思い出</h2>
<div id="wrapper_ga">
  <!-- Header -->
  <!-- Main -->
  <div id="main">
    <% @memories.each do |memorie| %>
      <% if memorie.images.attached? %>
        <% memorie.images.each do |image| %>
          <article class="thumb">
            <div class="gallery">
              <%= image_tag image.variant(resize: '100% x 100%'), class:'image' %>
            </div>
          </article>
        <% end %>
      <% end %>
    <% end %>
  </div>
<%= link_to "新しい思い出", new_memory_path(params[:id]),class: "button new-memorie-button" %>
  <!-- Footer -->
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP
      </p>
    </div>
  </div>
</div>